{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "breakLongMethodChains": true,
  "bracketSpacing": true,
  "maxEmptyLines": 2,
  "endOfLine": "auto",
  "tabWidth": 4,
  "useTabs": false
}